.thumbnail .price {
  font-weight: bold;
}

.thumbnail .img {
  max-height: 180px;
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.embed-responsive .card-img-top {
  object-fit: cover;
}


body {
  font-family: 'Century Gothic';
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
